.navbar {
    background-color: black;
    padding: 20px;
}

.options {
    display: inline;
    position: relative;
    color: white;
    padding: 10px;
}

.dropdown {
    position: absolute;
    list-style-type: none;
    background-color: black;
    padding: 5px;
    top: 50px;
}

.dropdown li {
    padding: 5px;
}
