.black,
.blue,
.red {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
}

.black {
    background-color: yellow;
    left: 250px;
}

.blue {
    background-color: #0c0;
}

.red {
    background-color: #f06;
    top: 200px;
    left: 130px;
}

.container {
    position: relative;
    height: 500px;
    width: 550px;
}

.outer-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
