li {
    display: inline-block;
    padding: 20px;
}

ul {
    list-style: none;
}

.navigation {
    background-color: black;
    color: white;
}

.navigation__item-one__drop {
    position: absolute;
    margin-top: 50px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-right: 20px;
    top: 0;
    left: 0;
    padding-left: 0;
}

.navigation__item-one__dropdown {
    display: block;
    width: 150px;
    padding-left: 13px;
}

.navigation__item-one {
    position: relative;
}
