.outer{
    border: 2px solid black;
    height: 667px;
    width: 373px;
    position: absolute;
    margin-left:30%;
}

.title{
 color:white;
 font-size:10px;
 background-color: blue;
 height: 30px;
top:0;
 text-align: center;
}
