.header {
    width: 100%;
    padding: 20px 0px;
}

.middle {
    width: 33.14%;
    padding: 100px 0px;
    border: 1px solid red;
}

.color {
    text-align: center;
    background-color: grey;
}

.alignment {
    float: left;
}
