body {
    background-color: #3cb3ff;
}

.outline i {
    float: right;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
    margin-left: 20%;
}

.header {
    width: 4096px;
    height: 100px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.leftmenu {
    height: 538px;
    color: white;
}

.rightmenu {
    height: 538px;
    color: white;
}

.centermenu {
    height: 538px;
    color: white;
}

form {
    color: aqua;
}

.centermenu input {
    background-color: #2fa8fa;
    border: 1px solid #2fa8fa;
    margin-bottom: 30px;
    padding: 7px;
    margin-left: 20%;
}

.leftmenu input {
    margin-left: 20%;
    font-size: 300px;
    margin-bottom: 25px;
}

.rightmenu textarea {
    background-color: #2fa8fa;
    border: 1px solid #2fa8fa;
    margin-top: 12%;
    margin-right: 40%;
    margin-bottom: 2%;
    color: white;
    font-size: 20px;
}

.rightmenu button {
    border-radius: 20px;
    background-color: #2fa8fa;
    border: 1px solid #2fa8fa;
    margin-left: 35%;
    padding: 20px;
}