body {
    background-image: linear-gradient(#e56439, #ff944d);
    color: aliceblue;
}

.header-image {
    display: inline-block;
    height: auto;
    width: 50px;
}

p{
    padding: 30px;
}

.top-space {
    padding-top: 2%;
    /* background-color: #e56439; */
}

.content-display {
    padding: 5%;
    font-size: 120%;

}

.header {
    /* background-color: #e56439; */
}

.button {
    background-color: orange;
    padding: 2%;
    border: none;
    border-radius: 10%;
    box-shadow: 2px 2px #ff944d;
}

.button:hover {
    cursor: pointer;
}

.center-container_outermost {
    /* background-color: #e56439; */
}

.content-image {
    align: center;
    height: auto;
    width: 40%;
}

.fantasy-name {
    display: inline-block;
}

.modal-box {
    display: none;
    position: fixed;
    padding: 5%;
    /* z-index: 1; */
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color:#e56439;
}

.close-button {
    float: right;
    font-size: 200%;
}

.close-button:hover  {
    cursor: pointer;
}

.modal-inner {
    background-color: #ff944d;
    margin: auto;
    padding: 20px;
    width: 80%;
    color: white;
    font-size: 100%;
}

.login-button_modal {
    padding: 0.5%;
    background-color: goldenrod;
}

input {
    background-color: #ff944d;
    border: 0;
    border-bottom: 2px solid  gray;
    display: block;
    padding: 1%;
    margin: 2%;
}

.aboutus-block-words {
    font-size: 30px;
    height: 30px;
}

.contact-image {
    font-size: 30px;
}

.contact-heading {
    color: lightblue;
    text-shadow: blue 1px 1px;
    font-size: 30px;
    padding: 0;
}

.contact-info {
    font-size: 20px;
    padding: 0;
}

#map {
    width:100%;
    height:500px
}