/* * {
    border: 1px solid black;
} */

header {
    text-align: center;
}

.sender {
    float: left;
    display: block;
    margin: 15px 0;
}

.receiver {
    float: right;
    display: block;
}

.receiver .profile {
    float: right;
}

.sender .profile {
    float: left;
} 

.talk-bubble {
	margin: 0 40px;
    position: relative;
    padding: 10px;
	width: 250px;
    height: auto;
    float: right;
	background-color: darkgray;
}

.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.fa-user-astronaut {
    font-size: 50px;
}
