.navbar {
    padding: 10px 5px;
    background-color: black;
}

li {
    display: inline-block;
    margin: 5px;
    color: white;
}

ul {
    display: inline-block;
    width: 100%;
    list-style: none;
}

.inner-nav {
    display: inline;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 30px;
    background-color: black;
    width: 200px;
    padding: 0%;
}

.dropdown-element {
    padding: 5px;
    width: 150px;
}

.inner-div {
    display: inline-block;
}
