.text-box,
.location-box,
.products-box {
    width: 100%;
}

.main-content {
    position: relative;
    top: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.text-box {
    display: flex;
    padding: 20px;
}

.text {
    flex: 1 0 80%;
}

.text-content {
    background-color: rgb(238, 235, 235);
    border-radius: 5px;
    font-size: 20px;
    padding: 1.5%;
}

.text-time {
    font-size: 12px;
}

.text-icon img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 10%;
}

.location-box {
    width: 400px;
    margin: auto;
}

.location-image {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: crimson;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}

.location-box_button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.location-image img {
    height: 170px;
    width: 170px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 100px;
}

h6 {
    font-size: 20px;
    text-align: center;
}

.slider-arrow {
    flex: 0.5;
    height: 20px;
    margin: auto;
}

.products-box {
    display: flex;
    flex-direction: column;
}

.products-box_item-container {
    display: flex;
}

.products-box_slider-box {
    margin: 0% 5% 5% 5%;
    display: flex;
}

.item-pic {
    width: 100%;
}

.item {
    margin: 20px;
}

.item-price-box {
    background-color: rgb(238, 235, 235);
    padding: 20px;
    height: 95px;
}

.item-price-box > button {
    clear: both;
    float: right;
    margin: 2px;
}
