.flexbox {
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: column;
    align-items: center;
}

.outer {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.circle1,
.circle2,
.circle3 {
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    position: relative;
}

.circle2 {
    background-color: pink;
    margin-left: -50px;
}

.circle3 {
    display: block;
    position: absolute;
    left: 30px;
    top: 50px;
    background-color: aqua;
}
