.outer {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#circle1 {
    border: 1px solid greenyellow;
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    position: relative;
    z-index: 10;
}

#circle2 {
    border: 1px solid pink;
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: pink;
    margin-left: -50px;
    position: relative;
    z-index: 10;
}

#circle3 {
    border: 1px solid aqua;
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: 60px;
    z-index: 10;
    background-color: aqua;
}
