* {
    margin: 0;
    padding: 0;
    height: 100px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.blue {
    background-color: darkblue;
    flex-grow: 1;
}

.lightblue {
    background-color: lightblue;
    flex-grow: 1;
}

.green {
    background-color: green;
    flex-grow: 1;
}

@media screen and (min-width: 900px) {

    .container {
        flex-direction: row;
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap; 
    }

    .blue
    {
        flex-grow: 1;
    }

    .lightblue {
        flex-grow: 3;
    }

    .green {
        flex-grow: 0;
    }
}