* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-1 {
  background-color: darkblue;
}

.container-2 {
  height: 200px;
}

.container-3 {
  background-color: red;
}

.lightblue {
  background-color: lightblue;
  height: 50%;
}

.green {
  background-color: green;
  height: 50%;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .container-1 {
    width: 50%;
    height: 200px;
  }

  .container-2 {
    width: 50%;
    height: 200px;
  }

  .container-3 {
    width: 100%;
    height: 100px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    flex-direction: row-reverse;
  }

  .container-1 {
    width: 10%;
    height: 200px;
  }

  .container-2 {
    width: 80%;
    height: 200px;
  }

  .container-3 {
    width: 10%;
    height: 200px;
  }
}
