* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.darkblue {
  background-color: darkblue;
}

.red {
  background-color: red;
}

.lightblue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
  .container {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .darkblue {
    width: 50%;
    height: 200px;
  }

  .lightblue,
  .green {
    width: 50%;
  }

  .red {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    flex-direction: row-reverse;
  }

  .darkblue,
  .red {
    height: 200px;
    width: 10%;
  }

  .green,
  .lightblue {
    width: 80%;
  }
}
