* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkblue {
    background-color: darkblue;
    height: 200px;
    float: right;
    width: 10%; 
}

.red {
    background-color: red;
    height: 200px;
    clear: left;
    width: 10%;
}

.lightblue {
    background-color: lightblue;
    height: 100px;
    width: 80%;
    float: right;
}

.green {
    background-color: green;
    height: 100px;
    width: 80%;
    float: right;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .darkblue {
        width: 50%;
        float: left;
    }

    .lightblue,
    .green
    {
        width: 50%;
        float: left;
    }

    .red {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .darkblue,
    .green,
    .lightblue,
    .red
    {
        height: 100px;
        width: 100%;
        float: left;
    }
}