* {
    margin: 0;
    padding: 0;
    height: 200px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.darkblue {
    background-color: darkblue;
    width: 100%;
}

.lightblue {
    background-color: lightblue;
    width: 100%;
}

.green {
    background-color: green;
    width: 100%;
}

.red {
    background-color: red;
    width: 100%;
}

.yellow {
    background-color: yellow;
    width: 100%;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .darkblue,
    .red,
    .yellow
    {
        width: 100%;
    }

    .green,
    .lightblue
    {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {

    .darkblue,
    .lightblue
    {
        width: 50%;
    }

    .red,
    .yellow,
    .green
    {
        width: 1px;
        flex-grow: 1; 
    }
}
