.outer {
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
}

ul {
    list-style: none;
}

.list {
    display: inline;
    padding: 20px;
}

.inner {
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 1px;
    background-color: black;
}

.service {
    position: relative;
}

.innerli {
    padding: 5px;
    width: 150px;
}
