* {
    font-family: Nunito, sans-serif;
}

.back-icon {
    float: left;
    padding: 20px;
}

.white {
    color: white;
}

.text-center {
    text-align: center;
    font-weight: bold;
}

.nav-icon {
    float: right;
    padding: 20px;
}

.section {
    margin-top: 50px;
    float: left;
    width: 33%;
    position: relative;
}

.menu-bar {
    background-color: #4fc3f7;
    z-index: 2;
    position: fixed;
}

.message-section__class {
    margin-top: 100px;
}

.message {
    border-radius: 12px;
    padding: 9px 12px;
    margin: 10px 19px;
    position: relative;
    width: 60%;
    display: inline-block;
}

.message__date {
    color: #546e7a;
    font-size: 12px;
    margin-top: 0;
    left: 20px;
    top: 20px;
}

.message__avatar {
    border-radius: 50%;
    width: 20%;
    display: inline-block;
}

.message__chat-text {
    color: grey;
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 9px 12px;
    width: 70%;
    display: inline-block;
}

.left {
    width: 40%;
}

.message-left {
    float: left;
}

.message-right {
    float: right;
}

.chat-input {
    border: 0;
    box-shadow: none !important;
    height: 100%;
    width: 100%;
}

.send-message {
    display: inline-block;
}

.nav-bar {
    width: 100%;
    height: 39px;
    background-color: #212121;
}

.nav-item {
    width: 33%;
    float: left;
    color: white;
    text-align: center;
}

.top-space {
    margin-top: 10px;
}

.chat-below {
    box-sizing: border-box;
    border: 6px solid #4fc3f7;
    clear: both;
    float: left;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.fa-location-arrow {
    color: white;
}

.item-list {
    clear: left;
    display: flex;
    flex-direction: row;
    background: transparent;
    overflow: auto;
    text-align: center;
    margin: 0 100px;
}

.inner-item {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

@media screen and (max-width: 350px) {
    .inner-item {
        padding: 20px;
    }

    .message__list-img {
        height: 30px;
        width: 30px;
    }

    .inner-item__list-img {
        height: 70px;
        width: 70px;
    }
}

.message__list-img {
    height: 70px;
    width: 70px;
}

.inner-item__list-img {
    height: 70px;
    width: 70px;
}

.inner-item__item-name {
    display: block;
}

.left-scroll {
    text-align: right;
}

.right-scroll {
    text-align: left;
}

.fa-map-marker-alt {
    border-radius: 100%;
    padding: 20px;
    border: 1px solid #03a9f4;
}

.chat-below__send-icon {
    background-color: #d32f2f;
    text-align: center;
    flex: 1;
    padding: 10px;
    cursor: pointer;
}

.chat-below__camera-icon,
.chat-below__microphone-icon {
    background-color: white;
    color: grey;
    padding: 10px;
    text-align: center;
    flex: 1;
}

.chat-below__section {
    flex-direction: row;
}

.chat-below__message {
    flex: 15;
}

.menu-bar__title {
    padding: 20px;
}

.empty-space__bottom {
    height: 200px;
}

.red-button {
    background-color: #e53935;
    box-shadow: none !important;
    color: white;
    padding: 5px 40px;
    border: none;
}

.location-section {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-section__button {
    justify-content: center;
    padding-top: 20px;
}

.location-section__icon {
    justify-content: center;
    color: #03a9f4;
    text-align: center;
}