.outer-list {
    padding: 20px;
    background-color: black;
}

.outer-list__child {
    position: relative;
    display: inline;
    padding: 30px;
    text-align: center;
    color: white;
}

.inner-list {
    position: absolute;
    top: 60px;
    left: 0;
    list-style: none;
    display: inline-block;
    background-color: black;
    padding: 10px;
}

.inner-list__child {
    color: white;
    padding: 10px;
}

.outer-list :hover {
    color: blue;
}

.outer-list__child :hover {
    color: red;
}