nav {
    height: 100%;
    display: block;
    width: 50%;
    background-color: black;
    color: white;
    position: relative;
}

ul {
    padding: 10px;
}

li {
    display: inline;
    margin: 10px;
    margin-left: 40px;
}

.dropdown {
    position: absolute;
    display: block;
    margin-left: 25%;
    margin-top: 0.7em;
    float: center;
    color: white;
    background-color: black;
}

.dropdown li {
    display: block;
    margin: auto;
    padding: 10px;
}
