.parentUl {
    margin: 10px 0;
    background-color: black;
    padding: 20px 20px;
}

.parent {
    position: relative;
    color: white;
    display: inline;
    margin: 0;
    padding: 30px 30px 30px;
    text-align: center;
}

.child {
    color: white;
    margin: 10px 10px;
    margin-left: 0;
    padding: 10px 10px 10px;
}

.childUl {
    position: absolute;
    top: 45px;
    left: 0;
    list-style: none;
    display: inline-block;
    background-color: black;
    padding: 10px;
}

