body {
    margin: 5em 5em;
    border: 5px solid black;
    padding: 50px 50px;
}

.header {
    margin: 30px 30px 30px;
    padding: 30px 30px;
    border: 2px solid black;
}

.content {
    margin: 30px 30px 30px;
    padding: 30px 30px;
    border: 2px solid black;
}

.footer {
    margin: 30px 30px 30px;
    padding: 30px 30px;
    border: 2px solid black;
}
