.sizes {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.green {
    background-color: green;
    position: relative;
    display: inline-block;
}

.yellow {
    background-color: yellow;
    position: absolute;
    display: inline-block;
    left: 100px;
}

.pink {
    background-color: pink;
    position: absolute;
    display: block;
    top: 100px;
    left: 50px;
}

.align-pos {
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    margin:auto;
    height: 50%;
}
