.navbar {
    padding: 20px;
    background-color: black;
    list-style-type: none;
}

li {
    display: inline-block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    position: relative;
}

.sub-menu {
    padding: 1px;
    position: absolute;
    left: 1px;
    top: 20px;
    background-color: black;
}

.sub {
    padding: 5px;
    width: 150px;
    margin-left: 1px;
    margin-top: 10px;
}
