* {
    font-family: Nunito, sans-serif;
}

.section {
    margin-top: 50px;
    float: left;
    width: 33%;
    position: relative;
}

.menu-bar {
    height: 39px;
    background-color: #4fc3f7;
}

.message {
    border-radius: 12px;
    padding: 9px 12px;
    margin: 10px 19px;
    position: relative;
    width: 60%;
}

.date {
    position: absolute;
    color: #546e7a;
    font-size: 12px;
    margin-top: 0;
}

.avatar {
    border-radius: 50%;
}

.chat-text {
    color: grey;
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 9px 12px;
}

.left {
    width: 40%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.chat-input {
    border: 0;
    box-shadow: none !important;
    padding: 13px;
    margin-left: 1px;
}

.send-message {
    display: inline;
    padding: 12px 14.8px;
    background-color: #e53935;
}

.nav-bar {
    width: 100%;
    height: 39px;
    background-color: #212121;
}

.nav-item {
    width: 33%;
    float: left;
    color: white;
    text-align: center;
}

.top-space {
    margin-top: 10px;
}

.border {
    border: 1px solid #9e9e9e;
    height: 800px;
    position: relative;
}

.chat-below {
    box-sizing: border-box;
    border: 6px solid #4fc3f7;
    clear: both;
    float: left;
    bottom: 0;
    position: fixed;
    width: 100%;
    position: absolute;
}

.fa-location-arrow {
    color: white;
}

.item-list {
    clear: left;
    background: transparent;
    overflow: auto;
    text-align: center;
    width: 50%;
    margin: 0 100px;
    white-space: nowrap;
}

.inner-item {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    height: 15px;
    width: 15px;
}

.list-img {
    height: 40px;
    width: 40px;
}

.item-name {
    display: block;
}
