* {
    margin: 0;
    padding: 6px;
    border: none;
    background-color: #3cd3ff;
    color: white;
    box-sizing: border-box;
}

.header {
    font-family: 'Droid serif', serif;
    font-size: 180%;
    padding: 0;
    display: flex;
}

.header h1 {
    width: 95%;
    display: block;
}

.header .close {
    width: 5%;
    float: right;
    text-align: right;
}

.sidebar,
.personal-details
{
    width: 30%;
}

.text {
    width: 40%;
    margin-top: 5%;
}

.personal-details,
.sidebar,
.text
{
    float: left;
}

.text textarea {
    width: 100%;  
    display: block; 
    height: 260px; 
    resize: none;
    background-color: #2fa8fa;
    margin-bottom: 4%;
}

input{
    background-color: #2fa8fa;
    margin-bottom: 4%;
}

.personal-details input,
.text textarea
{
    opacity: 0.6;
}

input:focus,
.text textarea:focus,
.text button:focus
{
    opacity: 1;
    box-shadow: 2px 2px black;
}

.input input {
    margin-bottom: 10%;
    height: 40px;
}

.text button {
    border: 2px solid white;
    border-radius: 20px;
    height: 50px;
    float: right;
}

.timeframe h2,
.project-type h2
{
    padding: 15px;
}

.months,
.types
{
    display: flex;
    flex-wrap: wrap;
}

.months div,
.types div
{
    width: 100%;
}

input[type="radio"],
input[type="checkbox"]
{
    margin-right: 10px;
}
