<html>

<head>
    <title>
        Float
    </title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header float">Let's craft your Product
        <i class="fas fa-times-circle float-right"></i>
    </div>
    <div class="timeframe float">
        <div class="container">
            <label>Timeframe</label>
            <br>
            <input type="checkbox" name=timeframe value="1 month">1 month
            <br>
            <input type="checkbox" name=timeframe value="2-3 month">2-3 months
            <br>
            <input type="checkbox" name=timeframe value="4+ month">4+ months
            <br>
        </div>
        <div class="project-type float">
            <div class="container">
                <label>Project Type</label>
                <br>
                <input type="checkbox" name=projecttype value="desktop">Desktop
                <br>
                <input type="checkbox" name=projecttype value="web">Web
                <br>
                <input type="checkbox" name=projecttype value="mobile">Mobile
                <br>
                <input type="checkbox" name=projecttype value="other">Other
                <br>
            </div>
        </div>
    </div>
    <div class="personal float">

        <div class="container1">
            <label for="personal">Personal Details</label>
            <br>
            <input type="text" name="name" placeholder="Name">
            <br>
            <input type="text" name="company" placeholder="Company">
            <br>
            <input type="text" name="email" placeholder="Email">
            <br>
            <input type="text" name="budget" placeholder="Budget">
        </div>
    </div>
    <div class="project-details float">
        <textarea placeholder="Tell us about your Project..."></textarea>
    </div>
    <div>
        <button class="float-right button">Send Enquiry</button>
    </div>

</body>

</html>