.green {
    background-color: green;
    display: inline-block;
    position: relative;
}

.yellow {
    background-color: yellow;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 60px;
}

.pink {
    background-color: pink;
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 500px;
}
