.green {
    background-color: green;
    display: inline-block;
    position: relative;
}

.yellow {
    background-color: yellow;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 60px;
}

.pink {
    background-color: pink;
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.outer-div {
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    height: 200px;
}
