header {
    color: blue;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
}

footer {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
}

section {
    padding: 10px;
    height: 50px;
    border: 5px solid black;
    margin: 10px;
}

#section-one {
    height: auto;
}

#section-two {
    overflow: hidden;
}

#section-three {
    overflow: scroll;
}

.main-box {
    border: 10px solid black;
    padding: 10px;
    margin: 50px 10px;
}
