.outer-list {
    background-color: black;
    padding: 15px;
    color: white;
    list-style: none;
}

.outer-list-elements {
    font-weight: bold;
    display: inline;
    padding: 15px;
    position: relative;
}

.inner-list {
    display: none;
    position: absolute;
    padding: 0px;
    top: 48px;
    left: 0px;
    background-color: black;
    color: white;
    list-style: none;
}

.hovermenu:hover .inner-list {
    display: block;
}

.inner-list-elements {
    font-weight: bold;
    display: block;
    padding: 15px 15px 15px 15px;
    background-color: black;
}
