.parent-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.dark-blue {
    background-color: darkblue;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.parent-div__div-one,
.parent-div__div-two,
.parent-div__div-three,
.parent-div__div-four {
    flex: 1 100%;
    height: 100px;
}

.parent-div__child {
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 899px) {
    .parent-div__div-one {
        flex: 1 50%;
        height: 200px;
    }

    .parent-div__child {
        flex: 1 50%;
    }

    .parent-div__div-four {
        flex: 1 50%;
    }
}

@media only screen and (min-width: 900px) {
    .parent-div {
        flex-direction: row-reverse;
    }

    .parent-div__div-one {
        flex: 1 33%;
        height: 200px;
    }

    .parent-div__child {
        flex: 1 33%;
    }

    .parent-div__div-four {
        flex: 1 33%;
        height: 200px;
    }
}
