div {
    height: 100px;
}

.violet {
    background-color: blueviolet;
}

.blue {
    background-color: aquamarine;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

@media only screen and (min-width: 400px) and (max-width: 599px) {
    .wrapper {
        display: flex;
        height: 400px;
        flex-wrap: wrap;
    }

    .blue,
    .green {
        flex: 1 0 50%;
    }

    .violet,
    .red,
    .yellow {
        flex: 1 0 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .wrapper {
        display: flex;
        height: 200px;
        flex-wrap: wrap;
    }

    .blue,
    .violet {
        flex: 1 0 50%;
    }

    .green,
    .red,
    .yellow {
        flex: 1 0 33.3%;
    }
}

@media only screen and (min-width: 800px) {
    .wrapper {
        display: flex;
        height: 200px;
        flex-wrap: wrap;
        margin: 0 10% 10% 10%;
    }

    .blue,
    .violet {
        flex: 1 0 50%;
    }

    .green,
    .red,
    .yellow {
        flex: 1 0 33.3%;
    }
}
