* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
}

.wrapper {
    border: 10px solid white;
    background-color: rgb(28, 187, 226);
}

i {
    float: right;
}

h1 {
    padding: 2%;
    margin-left: 4%;
    font-size: 300%;
}

h3 {
    margin-left: 20px;
}

fieldset {
    border: none;
}

div {
    padding: 5px;
    margin: 10px;
}

.options-wrapper {
    width: 30%;
    float: left;
}

.options-wrapper input {
    margin: 15px;
}

.details-wrapper {
    display: inline-block;
}

.details,
.desc {
    margin: 15px;
    float: left;
}

.details-wrapper input,
textarea {
    height: 60px;
    margin: 12px;
    width: 90%;
    color: white;
    background-color: rgb(38, 138, 163);
    border: 0;
    padding: 3%;
}

.details-wrapper textarea {
    width: 400px;
    height: 300px;
    margin: 13px;
}

.details-wrapper [type="submit"] {
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(67, 209, 245);
    color: white;
    width: 160px;
    height: 40px;
    float: right;
}
