body {
    height: 100vh;
}

.outer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 30%;
    height: 50%;
    transform: scale(0.6);
}

.college {
    background: url('graduation-cap.png') no-repeat;
    background-size: 100px 100px;
    background-position: center;
    
}

.company,
.college {
    width: 100px;
    height: 100px;
    align-self: center;
}

.man {
    width: 50px;
    height: 100px;
    background: url('man(1).jpg') no-repeat;
    animation: play 3s steps(8) infinite;
    animation-direction: reverse;
    flex-grow: 2;
    align-self: center;
}

.com {
    animation-name: company;
    background: url('company.png') no-repeat;
    background-size: 100px 100px;
    background-position: center;
    margin-bottom: 20px;
    
}

@keyframes play {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -1000px;
    }
}
