* {
    padding: 0;
    margin: 0;
}

.box {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.one {
    background: rgb(17, 238, 17);
    position: relative;
    display: inline-block;
}

.two {
    position: absolute;
    display: inline-block;
    background: rgb(226, 226, 11);
    left: 50px;
}

.three {
    position: absolute;
    display: block;
    background: rgb(218, 28, 161);
    left: 25px;
    top: 50px;
}
