.box {
    background-color: gray;
    border: 1px solid red;
    text-align: center;
}

.header, .footer {
    float: left;
    width: 99.3%;
    height: 24%;
}

.sidebar-1, .sidebar-2, .article {
    float: left;
    height: 50%;
    width: 20%;
}

.article {
    width: 59%;
}
