header {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
section {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
footer {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
div {
    border: 4px solid black;
    padding: 30px;
    margin: 30px 10px;
}