.sigma-one {
    font-family: 'Sigmar One', cursive;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.passion-one {
    font-family: 'Passion One', cursive;
}

.luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}