.container {
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    text-align: center;
    height: 50px;
}

.header {
    width: 100%;
}

.sidebar-1 {
    width: 20%;
}

.article {
    width: 60%;
}

.sidebar-2 {
    width: 20%;
}

.footer {
    width: 100%;
}