html,
body {
    height: 100%;
}

.circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: lightgreen;
    position: absolute;
}

.yellow {
    right: 0;
    background-color: yellow;
    position: absolute;
}

.purple {
    bottom: 0;
    right: 70px;
    background-color: purple;
    position: absolute;
}

.container {
    position: relative;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
}
