* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.circle-1 {
    background-color: green;
}

.circle-2 {
    left: 200px;
    background-color: yellow;
}

.circle-3 {
    left: 100px;
    top: 200px;
    background-color: purple;
}

.inner-container {
    position: relative;
    height: 400px;
    width: 400px;
}

.container {
    /* display: flex;
    align-items: center;
    justify-content: center;  */
    height: 100vh;
    transform: translate(50%, 50%);  
}
